*{
    /* font-size: 25px; */
    font-family: 'Kanit', sans-serif;       
}
body{
    margin:0;
    /* background-image:url() ; */
    /* background-size: cover; */
}

/* NAVBAR */
.menu-button button,.menu-button{
    display:none
}
.navbar {
    background-color: rgba(0, 0, 0, 0); /* Fondo transparente (puedes ajustar la opacidad) */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    height: 8vh;
    /* gap: 0px 0px; */
}

/* propiedades de letra */
.logo,.opciones, .opciones2{
    font-weight: bold;
    color: black;
}

.logo{
    padding: 0 0 0 0.5em;
    display:flex;
    margin: 0;
    align-items: center;
}

.logo a{
    text-decoration: none;
    color: black;
    font-family: 'Yeseva One';
    font-weight: lighter;
    font-size: 28px
}
/* Estilo de las opciones del navbar */
.opciones{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    align-items: center;
    padding: 0 1vw;  
} 

.opciones li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
.opciones a{
    font-size: 18px;
    padding: 0 1vw;
}


.opciones2 a{
    padding: 0 1vw
}

.opciones2{
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5vw;
    padding-right: 1vw;
    font-size: 20px;
}


.opciones a,.opciones2 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    /* transition: color 1s ease; */
}

.opciones a:hover,.opciones2 a:hover {
    background-color: rgba(57, 57, 57, 0.1); /* Fondo blanco translúcido en hover */
    height: 5vh;
    width: auto;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}


.background img, .background{
    height: 100vh;
    width: 100vw;
}
.background{
    display: inline;
    background-size: cover;
    margin-bottom:50px;
    padding:0;
}
/* ***************************** */

@media screen and (max-width: 1199px) {
    /* menu desplegable */
    /* .opciones,.opciones2{
        display:none;
    } */

    /* .menu-button{
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0 4vw 0 0;

    }
    
    .menu-button button{
        display:inline;
        font-weight: bold;
        font-size: 2.5vh;
        border: none;
        background-color: transparent;
        padding: 1vw;
        transition: 0.1s;
        height: auto;
    }
    
    .menu-button button:hover{
        background-color: rgba(57, 57, 57, 0.1); /* Fondo blanco translúcido en hover 
        border-radius: 15%;
    } */
    
    /* resto de pagina */
    .opciones2{
        display:none
    }

    .navbar {
        background-color: rgba(0, 0, 0, 0); /* Fondo transparente (puedes ajustar la opacidad) */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        display: flex; 
        justify-content: space-between;
        height: 6vh;
    }

    .opciones a{
        font-size: 20px;
    } 
    

    .logo{
        padding-left: 8px;

    }
    .logo a{
        padding: 0 8px;
        font-size: 1em;

    }



}