/* NAVBAR */
*{
    /* font-size: 25px; */
    font-family: 'Kanit', sans-serif;   
    box-sizing: border-box;    
}

.menu-button button,.menu-button{
    display:none
}

.navbar {
    background-color: #b6afe6; /* Fondo transparente (puedes ajustar la opacidad) */
    display: grid;
    grid-template-columns: 100vw; 
    grid-template-rows: auto auto; 
    position: fixed;
    top: 0;
    padding-bottom: 5px;
    z-index:1;
}

/* .search{
    border-radius: 50%;
} */

/* propiedades de letra */


.titulo{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.titulo a{
    text-decoration: none;
    color: black;
    font-family: 'Yeseva One';
    font-weight: lighter;
    font-size: 40px;
    padding: 10px 0;
}
/* Estilo de las opciones del navbar */
.search{
    position: absolute;
    left: 10px;
    bottom: 15px;
    display:flex;
    align-items: center;
}

.lupa{
    cursor: pointer;
}
.opciones{
    list-style-type: none;
    display: flex;    
    justify-content: center;
  
} 

.opciones li{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100px; */
    /* height: 5vh; */
}

.opciones a{
    font-family:'Source Serif Pro';
    text-decoration: none;
    color: black;
    font-weight:lighter;
    font-size: 14px;
    padding: 10px 20px;
    /* transition: color 1s ease; */
}

.opciones a:hover{
    background-color: #21112C;
    color:#B6AFE6;
    height: 5vh;
    width: auto;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

/* catalogo */
.catalogo{
    display: grid;
    grid-template-columns: auto auto auto auto; 
    grid-template-rows: auto; 
    justify-content: center;
    padding: 0px;
    gap:40px 0px;
    margin-top: 20vh;
}

.card{
    display: flex;
    flex-direction: column;
    font-size: 11px;
    padding: 20px;
    
}

.precio{
    font-size: 15px;
}

.contenedor-imagen{
    position:relative;
}

.producto{
    height: 300px;
    width: 215px;
    padding-bottom:10px;
    cursor: pointer;
    transition: filter 0.5s ease-in-out ; 
}

.producto:hover{
    transform: scale(1.02);
    transition:200ms;
}
/*          Instagram Logo          */
.instagram{
    position: fixed;
    height:40px;
    width: 40px;
    right:10px;
    bottom:10px;
}

.instagram:hover{
    transform:scale(1.1);
    transition: 200ms;
    
}

/*          SearchBar           */
.search{
    transition: 0.3s ease;
}

.search-bar {
    display:none;
    position: absolute;
    left: 0px; /* Posición inicial oculta */
    transition: right 0.3s ease;
    width: 200px;
    border-radius: 50%;
}

.search-bar input[type="text"] {
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

.card h2{
    display: inline-block;
}


.confirmacion {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #b6afe6;;
    opacity: 1;
    transition: opacity 0.8s ease;
    
    /* -webkit-text-stroke: 1px #21112C; Borde alrededor del texto */
    /* color: transparent; Oculta el color del texto */
  }
  .descripcion{
    position: relative;
  }
  .botonAgregarCarrito{
    position:absolute;
    top:0;
    right:0;
    display: inline-block;
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    align-content: center;
    height: auto;
    width: 25px;
 
}
  .botonAgregarCarrito img{
    width: 30px;
    height: auto;
    
  }

 .roundedCounter {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0px;
    font-size: 15px
  }

.carrito img{
    width: 30px;
    height: auto;
    cursor: pointer;
}
.carrito{
    width: 40px;
    height: auto;
    position: absolute;
    right: 25px;
    display: flex;
    justify-content:start;
    font-size: 30px;
}


.cartListContainer{
    background-color: white;
    position:absolute;
    top:2px;
    right:50px;
    max-height: 100px; 
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 4px;
    /* border: 1px solid rgb(221, 221, 221); */
    overflow-y: auto;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.btnDelete{
    border: 1px solid gray;
    border-radius: 4px;
    cursor:pointer;
}
.cartList{
    list-style: none;
    padding:0;
    margin:0;
}
.total{
    
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.cartList li,.total {
    border: 1px solid rgb(221, 221, 221);

    font-size: 20px;
    width: 300px;
    height: auto;
    /* text-align: end; */
}

@media screen and (max-width: 1000px) {

    .navbar {
        background-color: #b6afe6; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        /* z-index: 100; */
        display: flex; 
        justify-content: space-between;
        height: 6vh;

    }

    .logo{
        padding-left: 8px;
    }
    .logo a{
        padding: 0 8px;
        font-size: 1em;
    }

    .opciones a{
        font-size: 15px;
    }

    .catalogo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* padding: 20px; */
        /* margin-top: 20vh; */
        /* gap: 40px 0; */
    }

    .producto{
      width: 50vw;  
    }
}