/* NAVBAR */
*{
    /* font-size: 25px; */
    font-family: 'Kanit', sans-serif;       
}

.menu-button button,.menu-button{
    display:none
}

.navbar {
    background-color: #b6afe6; /* Fondo transparente (puedes ajustar la opacidad) */
    display: grid;
    grid-template-columns: 100vw; 
    grid-template-rows: auto auto; 
    position: fixed;
    top: 0;
    padding-bottom: 5px;
}

/* propiedades de letra */


.titulo{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.titulo a{
    text-decoration: none;
    color: black;
    font-family: 'Yeseva One';
    font-weight: lighter;
    font-size: 40px;
    padding: 10px 0;
}
/* Estilo de las opciones del navbar */
.opciones{
    list-style-type: none;
    display: flex;    
    justify-content: center;
  
} 

.opciones li{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100px; */
    /* height: 5vh; */
}

.opciones a{
    font-family:'Source Serif Pro';
    text-decoration: none;
    color: black;
    font-weight:lighter;
    font-size: 12px;
    padding: 10px 20px;
    /* transition: color 1s ease; */
}

.opciones a:hover{
    /* background-color: #B6AFE6; Fondo blanco translúcido en hover */
    height: 5vh;
    width: auto;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

/* catalogos */
.catalogo{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px; 
    grid-template-rows: 1fr; 
    justify-content: center;
    padding: 0px;
    gap:40px 0px;
    margin-top: 20vh;
}

.card{
    display: flex;
    flex-direction: column;
    font-size: 8px;
    padding: 4px;
}

.precio{
    font-size: 10px;
}

.imagen_container{
    height: 200px;
    width: 200px;
    background-color: rgba(128, 128, 128, 0.116);
    
}

.card img{
    height: 100px;
    width: 100px;
    /* border-bottom: 1px solid gray; */
    /* background-color: rgba(128, 128, 128, 0.116); */
    
}


/* .producto img {
    width: 30px;
    height: 30px;
}

.producto h2{
    top:0;
    width: 100%;
}

.precio {
    font-weight: bold;
    color: #0077FF;
    position: absolute;
    top:90%;
} */


@media screen and (max-width: 1000px) {
    /* .opciones,.opciones2{
        display:none;
    }
    
    button{
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0 4vw 0 0;

    } */
    .opciones2{
        display:none;   
    }

    .navbar {
        background-color: #8f95d39a; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        display: flex; 
        justify-content: space-between;
        height: 6vh;

    }
/* BOTON MENU
    .menu-button button{
        display:inline;
        font-weight: bold;
        font-size: 2.5vh;
        border: none;
        background-color: transparent;
        padding: 1vw;
        transition: 0.1s;
        height: auto;
    }
    .menu-button button:hover{
        background-color: rgba(57, 57, 57, 0.1); 
        border-radius: 15%;
    } */

    .logo{
        padding-left: 8px;
    }
    .logo a{
        padding: 0 8px;
        font-size: 1em;
    }

    .opciones a{
        font-size: 1.2em;
    }
    .catalogo{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
        margin-top: 20vh;
        gap: 40px 0;
    }

    .producto{
      width: 50vw;  
    }
}