/* NAVBAR */
*{
    /* font-size: 25px; */
    font-family: 'Kanit', sans-serif;       
}

.menu-button button,.menu-button{
    display:none
}

.navbar {
    background-color: #b6afe6; /* Fondo transparente (puedes ajustar la opacidad) */
    display: grid;
    grid-template-columns: 100vw; 
    grid-template-rows: auto auto; 
    position: fixed;
    top: 0;
    padding-bottom: 5px;
}

/* propiedades de letra */


.titulo{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.titulo a{
    text-decoration: none;
    color: black;
    font-family: 'Yeseva One';
    font-weight: lighter;
    font-size: 40px;
    padding: 10px 0;
}
/* Estilo de las opciones del navbar */
.search{
    position: absolute;
    right: 25px;
    bottom: 15px;
    display:flex;
    align-items: center;
}

.lupa{
    cursor: pointer;
}
.opciones{
    list-style-type: none;
    display: flex;    
    justify-content: center;
  
} 

.opciones li{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100px; */
    /* height: 5vh; */
}

.opciones a{
    font-family:'Source Serif Pro';
    text-decoration: none;
    color: black;
    font-weight:lighter;
    font-size: 14px;
    padding: 10px 20px;
    /* transition: color 1s ease; */
}

.opciones a:hover{
    background-color: #21112C;
    color:#B6AFE6;
    height: 5vh;
    width: auto;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

/* catalogos */
.catalogo{
    display: grid;
    grid-template-columns: auto auto auto auto; 
    grid-template-rows: auto; 
    justify-content: center;
    padding: 0px;
    gap:40px 0px;
    margin-top: 20vh;
}

.card{
    display: flex;
    flex-direction: column;
    font-size: 11px;
    padding: 20px;
    
}

.precio{
    font-size: 15px;
}

.card img{
    height: 300px;
    width: 215px;
    padding-bottom:10px;
    cursor: pointer;
}

.card img:hover{
    transform: scale(1.02);
    transition:200ms
}

.instagram{
    position: fixed;
    height:40px;
    width: 40px;
    right:10px;
    bottom:10px;
}

.instagram:hover{
    transform:scale(1.1);
    transition: 200ms;
    
}
.search{
    transition: 0.3s ease;
}
.search-bar {
    position: absolute;
    /* top: 0; */
    right: -180px; /* Posición inicial oculta */
    transition: right 0.3s ease;
    width: 200px;
}

.search-bar input[type="text"] {
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}



@media screen and (max-width: 1000px) {
    /* .opciones,.opciones2{
        display:none;
    }
    
    button{
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0 4vw 0 0;

    } */
    .opciones2{
        display:none;   
    }

    .navbar {
        background-color: #8f95d39a; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        display: flex; 
        justify-content: space-between;
        height: 6vh;

    }
/* BOTON MENU
    .menu-button button{
        display:inline;
        font-weight: bold;
        font-size: 2.5vh;
        border: none;
        background-color: transparent;
        padding: 1vw;
        transition: 0.1s;
        height: auto;
    }
    .menu-button button:hover{
        background-color: rgba(57, 57, 57, 0.1); 
        border-radius: 15%;
    } */

    .logo{
        padding-left: 8px;
    }
    .logo a{
        padding: 0 8px;
        font-size: 1em;
    }

    .opciones a{
        font-size: 1.2em;
    }
    .catalogo{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
        margin-top: 20vh;
        gap: 40px 0;
    }

    .producto{
      width: 50vw;  
    }
}