*{
    /* font-size: 25px; */
    font-family: 'Kanit', sans-serif;       
}


/* NAVBAR */

.menu-button button,.menu-button{
    display:none
}

.navbar {
    background-color: rgba(0, 0, 0, 0); /* Fondo transparente (puedes ajustar la opacidad) */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    height: 8vh;   
    
}

/* propiedades de letra */
.logo,.opciones, .opciones2{
    font-weight: bold;
    color: black;
    
}

.logo{
    padding: 0 0 0 0.5em;
    display:flex;
    margin: 0;
    align-items: center;
}

.logo a{
    text-decoration: none;
    color: black;
    font-family: 'Yeseva One';
    font-weight: lighter;
    font-size: 20px
}
/* Estilo de las opciones del navbar */
.opciones{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    align-items: center;
    padding: 0 1vw;  
} 

.opciones li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.opciones a{
    font-size: 14px;
    padding: 0 1vw;
}


.opciones2 a{
    padding: 0 1vw
}

.opciones2{
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5vw;
    padding-right: 1vw;
    font-size: 15px;
}


.opciones a,.opciones2 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    /* transition: color 1s ease; */
}

.opciones a:hover,.opciones2 a:hover {
    background-color: #B6AFE6; /* Fondo blanco translúcido en hover */
    height: 5vh;
    width: auto;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}


body{
    background-image: url("https://i.ytimg.com/vi/CWeytgcSpR0/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}



/* ***************************** */

@media screen and (max-width: 999px) {

    .opciones{
        display:none
    }

    .navbar {
        background-color: rgba(0, 0, 0, 0); /* Fondo transparente (puedes ajustar la opacidad) */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        display: flex; 
        justify-content: space-between;
        height: 6vh;
    }

    .opciones a{
        font-size: 15px;
    } 
    

    .logo{
        padding-left: 8px;

    }
    .logo a{
        padding: 0 8px;
        font-size: 20px;

    }



}