*{
    /* font-size: 25px; */
    font-family: 'Kanit', sans-serif;       
}


/* NAVBAR */

.menu-button button,.menu-button{
    display:none
}

.navbar {
    background: rgba(201, 85, 255, 0.20); /* Fondo transparente (puedes ajustar la opacidad) */
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 40px 40px; 
    /* height: 8vh;    */
    
}

/* propiedades de letra */
.titulo,.opciones, .opciones2{
    font-weight: bold;
    color: black;
    
}

.titulo{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.titulo a{
    text-decoration: none;
    color: black;
    font-family: 'Yeseva One';
    font-weight: lighter;
    font-size: 25px
}
/* Estilo de las opciones del navbar */
.opciones{
    list-style-type: none;
    display: flex;    
    justify-content: center;
  
} 

.opciones li{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100px; */
    /* height: 5vh; */
}

.opciones a{
    font-size: 14px;
    padding: 0 20px;
}


.opciones a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    /* transition: color 1s ease; */
}

.opciones a:hover{
    /* background-color: #B6AFE6; Fondo blanco translúcido en hover */
    height: 5vh;
    width: auto;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

body{
    background-image: url("https://i.ytimg.com/vi/CWeytgcSpR0/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}



/* ***************************** */

@media screen and (max-width: 999px) {

    .opciones{
        display:none
    }

    .navbar {
        background-color: rgba(0, 0, 0, 0); /* Fondo transparente (puedes ajustar la opacidad) */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        display: flex; 
        justify-content: space-between;
        height: 6vh;
    }

    .opciones a{
        font-size: 15px;
    } 
    

    .titulo{
        padding-left: 8px;

    }
    .titulo a{
        padding: 0 8px;
        font-size: 20px;

    }



}